/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
.container{
    position: relative;
}
section nav.navbar-container{
    display: flex;
    justify-content: space-around;
}
section nav.navbar-container div.button-group{
    display: flex;
    gap: 10px;
}
section nav.navbar-container div ul.list{
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
padding-left: 0;
gap: 40px;
}
section nav.navbar-container div ul.list li.list-item{
    font-family: 'Orbitron';
    font-weight: 500;
}
section nav.navbar-container div ul.list li.list-item:hover{
    /* font-weight: bolder;
    border-bottom: 3px 
     solid #000000;
    cursor: none; */
}
section nav.navbar-container div>img{
  width: 100px;
  height: 40px;
}
section nav.navbar-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section nav.navbar-container div.button-group div.search-icon{
width: 22px;
height: 20px;
}
section nav.navbar-container div.button-group div button.nav-button{
width: 120px;
height: 30px;
background-color: #ffffff;
border-radius: 10px;
font-family: 'Poppins';
font-weight: 400;
font-size: medium;
color: #898C8C;
}
section div.hero-container{
    display: flex;
    position: relative;
}
.hero-container div>img{
    position: absolute;
    left: 115px;
    height: 400px;
    top: 70px;
}
.hero-container span.square img{
 /* width: 250px; */
 height: 250px;
 bottom: 0px;
}
.hero-container span.square{
    position: relative;
    top: 260px;
    left: 230px;
}
.hero-container span.star:nth-child(2){
    position: relative;
    left: 870px;
    top: 50px;
}
.hero-container span.star:nth-child(3){
    position:relative;
    top: 450px;
    left: 250px;
}
.hero-container span.globe{
    position: relative;
    left: 350px;
    top: 40px;
}
.hero-container span.globe img{
    width: 50px;
}
.hero-container span.star:nth-child(3) img{
    width: 40px;
    /* height: 40px; */
   }
.hero-container span.star:nth-child(2) img{
 width: 40px;
 /* height: 40px; */
}
 div.hero-container div.hero-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    left: 180px;
 }
 div.hero-container-right{
    height: 420px;
 }
 div.hero-container div.hero-container-right h1{
    font-family: 'Orbitron';
    font-size: 48px;
    text-align: center;
 }
 div.hero-container div.hero-container-right p{
    font-family: 'Poppins';
    font-size: 13.5px ;
    text-align: center;
    width: 600px;
 }
 div.hero-container-right div>button.button-email{
    background-color: #ffffff;
    width: 150px;
    height: 30px;
    font-family: 'Orbitron';
    border-radius: 12px;
    /* position: relative;
    top: 50px;*/
    margin-top: 40px;
 }
 div.hero-container-right div>button.button-join{
    color: #ffffff;
    background-color: #000000;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    font-family: 'Orbitron';
    /* position: relative;
    top: 50px; */
 }
 div.hero-container-right div:nth-child(4){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
 }
 div.hero-container-right div:nth-child(4) div.icons{
    display: flex;
 }
 div.hero-container-right div:nth-child(4) div.icons span img{
    width: 30px;
    margin: 0px 10px ;
 }
 div.hero-container-right div:nth-child(4) h4.contact-heading{
    font-family: 'Poppins';
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #898C8C;
 }
 span.star{
    height: 40px;
 }
 span.globe{
    height: 50px;
 }
 span.square{
    height: 250px;
 }
