html{
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}