*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
    

.inner_container{
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: #000000 solid 1px;
    background-color: skyblue ;
    position: relative;
}   

.btn{
    padding: 5px 10px;
    color: #ffffff;
    background-color: #000000;
    border: #000000 solid 1px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
}

.lifts{
    height: 90%;
    width: 100px;
    background-color: pink;
    border: solid pink 1px;
    position: relative;
    left: 100px;
}
.lift__0,.lift__1,.lift__2{
    transition: bottom 2s;
}

.input__lift{
    margin: 10px;
    border: #000000 solid 1px;
    padding: 5px 10px;
}
.input__lift:focus{
    outline: none;
}
.lift__select{
    margin: 10px;
    padding: 5px 10px;  
}
.lift__select:hover{
    cursor: pointer;
}
.inside__container{
    background-color: aquamarine;
    margin-bottom: 5px;
}