*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner_container{
    width: 80%;
    height: 150px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: skyblue ;
}   

.btn{
    padding: 5px 10px;
    color: #ffffff;
    background-color: #000000;
    border: #000000 solid 1px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
}

.lifts{
    height: 90%;
    width: 100px;
    background-color: pink;
    border: solid pink 1px;
}